.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.25;
    min-width: 250px;
    margin-top: 20px;
    padding: 0 20px;
}

.sidebar__tweet--mobile {
    display: none !important;
}

.sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar__tweet,
.sidebar__tweet--mobile {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    height: 50px !important;
    border-radius: 30px !important;
    margin-top: 20px !important;
    width: 100% !important;
}

@media only screen and (max-width: 1320px) {
    .sidebar {
        flex: 0.064;
        min-width: 64px;
    }

    .sidebar__tweet {
        display: none !important;
    }

    .sidebar__tweet--mobile {
        display: flex !important;
        width: 50px !important; 
        height: 60px !important;
        
    }
}

@media only screen and (max-width: 500px) {
    .sidebar {
        display: none;
    }
}