.mobile {
    display: none;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .MuiSvgIcon-root,
.mobile .MuiSvgIcon-root {
    padding: 20px;
}

.sidebarOption:hover
 {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 150ms ease;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active {
    color : var(--twitter-color);
}

@media only screen and (max-width: 1320px) {
  

    .sidebarOption  {
       display: none;
    }

    .mobile {
        display: block;
    }
}